<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.1" targetFramework="net452" />
  <package id="Autofac.Mvc5" version="4.0.1" targetFramework="net452" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net452" />
</packages>